<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CU Canteen's - A Food Ordering Assistant of CU</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/styles.css">
    <script src="assets/functions.js"></script>

</head>
<body>
    <div class="main_container">
        <div class="top_nav">
            <div class="logo">
                <h2 class="logo-text"><i class="fa fa-cutlery" aria-hidden="true"></i>
                    CU CANTEEN</h2>
            </div>
            <div class="menu">
                <ul class="nav_menu">
                    <li class="list"><i class="fa fa-search"></i> Search</li>
                    <li class="list"><i class="fa fa-shopping-cart"></i> Cart</li>
                    <li class="list"><i class="fa fa-gift"></i> Offers</li>
                    <li class="list"><i class="fa fa-life-ring"></i> Help</li>
                    <li class="list"><i class="fa fa-user"></i> Arnav Gupta</li>
                </ul>
            </div>
        </div>
        <div class="offers">
            <img src="assets/1.jpg" alt="1" class="offer-one">
            <img src="assets/2.jpg" alt="1" class="offer-one" style="margin-left: 45px;">
            <img src="assets/3.jpg" alt="1" class="offer-one" style="margin-left: 45px;">
            <img src="assets/5.png" alt="1" class="offer-one" style="margin-left: 45px;">
        </div>
        <div class="heading_part">
            <h3 class="restaurants_count_heading"> 70 Restaurants</h3>
        </div>
        <div class="restaurants">
            <!--  -->
            
                <div class="list_of_canteens" style="margin-left: 47px;">
                    <img src="assets/c.jpg" alt="c" class="canteen-img">
                    <h4 class="canteen-heading">Pizza Hut</h4>
                    <h5 class="canteen-sub-heading">Pizzas</h5>
                    <div class="rating_pricing">
                        <div class="rating"><i class="fa fa-star"></i> 3.2
                        </div>
                        <div class="timing">• 38 MINS •</div>
                        <div class="pricing"> ₹300 FOR TWO</div>
                    </div>
                    <div class="discount">50% OFF | USE TRYNEW</div>
                    <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                </div>
                <div class="list_of_canteens">
                    <img src="assets/c2.jpg" alt="c" class="canteen-img">
                    <h4 class="canteen-heading">Patna Platter</h4>
                    <h5 class="canteen-sub-heading">South Indian, Fast Food, Chinese</h5>
                    <div class="rating_pricing">
                        <div class="rating"><i class="fa fa-star"></i> 3.2
                        </div>
                        <div class="timing">• 51 MINS •</div>
                        <div class="pricing"> ₹600 FOR TWO</div>
                    </div>
                    <div class="discount">40% OFF | USE JUMBO</div>
                    <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                </div>
                <div class="list_of_canteens">
                    <img src="assets/c3.jpg" alt="c" class="canteen-img">
                    <h4 class="canteen-heading">Achal Restaurant Cafe</h4>
                    <h5 class="canteen-sub-heading">Chinese, Contimental, North Indian</h5>
                    <div class="rating_pricing">
                        <div class="rating"><i class="fa fa-star"></i> 3.2
                        </div>
                        <div class="timing">• 19 MINS •</div>
                        <div class="pricing"> ₹200 FOR TWO</div>
                    </div>
                    <div class="discount">70% OFF | USE WELCOMEBACK</div>
                    <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                </div>
                <div class="list_of_canteens">
                    <img src="assets/c4.jpg" alt="c" class="canteen-img">
                    <h4 class="canteen-heading">Mutton Dehati</h4>
                    <h5 class="canteen-sub-heading">Indian</h5>
                    <div class="rating_pricing">
                        <div class="rating"><i class="fa fa-star"></i> 3.2
                        </div>
                        <div class="timing">• 42 MINS •</div>
                        <div class="pricing"> ₹78 FOR TWO</div>
                    </div>
                    <div class="discount">70% OFF | USE WELCOMEBACK</div>
                    <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                </div>
            </div>
            <div class="restaurants">
                <!--  -->
                
                    <div class="list_of_canteens" style="margin-left: 47px;">
                        <img src="assets/c.jpg" alt="c" class="canteen-img">
                        <h4 class="canteen-heading">Pizza Hut</h4>
                        <h5 class="canteen-sub-heading">Pizzas</h5>
                        <div class="rating_pricing">
                            <div class="rating"><i class="fa fa-star"></i> 3.2
                            </div>
                            <div class="timing">• 38 MINS •</div>
                            <div class="pricing"> ₹300 FOR TWO</div>
                        </div>
                        <div class="discount">50% OFF | USE TRYNEW</div>
                        <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                    </div>
                    <div class="list_of_canteens">
                        <img src="assets/c2.jpg" alt="c" class="canteen-img">
                        <h4 class="canteen-heading">Patna Platter</h4>
                        <h5 class="canteen-sub-heading">South Indian, Fast Food, Chinese</h5>
                        <div class="rating_pricing">
                            <div class="rating"><i class="fa fa-star"></i> 3.2
                            </div>
                            <div class="timing">• 51 MINS •</div>
                            <div class="pricing"> ₹600 FOR TWO</div>
                        </div>
                        <div class="discount">40% OFF | USE JUMBO</div>
                        <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                    </div>
                    <div class="list_of_canteens">
                        <img src="assets/c3.jpg" alt="c" class="canteen-img">
                        <h4 class="canteen-heading">Achal Restaurant Cafe</h4>
                        <h5 class="canteen-sub-heading">Chinese, Contimental, North Indian</h5>
                        <div class="rating_pricing">
                            <div class="rating"><i class="fa fa-star"></i> 3.2
                            </div>
                            <div class="timing">• 19 MINS •</div>
                            <div class="pricing"> ₹200 FOR TWO</div>
                        </div>
                        <div class="discount">70% OFF | USE WELCOMEBACK</div>
                        <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                    </div>
                    <div class="list_of_canteens">
                        <img src="assets/c4.jpg" alt="c" class="canteen-img">
                        <h4 class="canteen-heading">MUTTON DEHATI</h4>
                        <h5 class="canteen-sub-heading">Indian</h5>
                        <div class="rating_pricing">
                            <div class="rating"><i class="fa fa-star"></i> 3.2
                            </div>
                            <div class="timing">• 42 MINS •</div>
                            <div class="pricing"> ₹78 FOR TWO</div>
                        </div>
                        <div class="discount">70% OFF | USE WELCOMEBACK</div>
                        <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                    </div>
                </div>
                <div class="restaurants">
                    <!--  -->
                    
                        <div class="list_of_canteens" style="margin-left: 47px;">
                            <img src="assets/c.jpg" alt="c" class="canteen-img">
                            <h4 class="canteen-heading">Pizza Hut</h4>
                            <h5 class="canteen-sub-heading">Pizzas</h5>
                            <div class="rating_pricing">
                                <div class="rating"><i class="fa fa-star"></i> 3.2
                                </div>
                                <div class="timing">• 38 MINS •</div>
                                <div class="pricing"> ₹300 FOR TWO</div>
                            </div>
                            <div class="discount">50% OFF | USE TRYNEW</div>
                            <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                        </div>
                        <div class="list_of_canteens">
                            <img src="assets/c2.jpg" alt="c" class="canteen-img">
                            <h4 class="canteen-heading">Patna Platter</h4>
                            <h5 class="canteen-sub-heading">South Indian, Fast Food, Chinese</h5>
                            <div class="rating_pricing">
                                <div class="rating"><i class="fa fa-star"></i> 3.2
                                </div>
                                <div class="timing">• 51 MINS •</div>
                                <div class="pricing"> ₹600 FOR TWO</div>
                            </div>
                            <div class="discount">40% OFF | USE JUMBO</div>
                            <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                        </div>
                        <div class="list_of_canteens">
                            <img src="assets/c3.jpg" alt="c" class="canteen-img">
                            <h4 class="canteen-heading">Achal Restaurant Cafe</h4>
                            <h5 class="canteen-sub-heading">Chinese, Contimental, North Indian</h5>
                            <div class="rating_pricing">
                                <div class="rating"><i class="fa fa-star"></i> 3.2
                                </div>
                                <div class="timing">• 19 MINS •</div>
                                <div class="pricing"> ₹200 FOR TWO</div>
                            </div>
                            <div class="discount">70% OFF | USE WELCOMEBACK</div>
                            <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                        </div>
                        <div class="list_of_canteens">
                            <img src="assets/c4.jpg" alt="c" class="canteen-img">
                            <h4 class="canteen-heading">MUTTON DEHATI</h4>
                            <h5 class="canteen-sub-heading">Indian</h5>
                            <div class="rating_pricing">
                                <div class="rating"><i class="fa fa-star"></i> 3.2
                                </div>
                                <div class="timing">• 42 MINS •</div>
                                <div class="pricing"> ₹78 FOR TWO</div>
                            </div>
                            <div class="discount">70% OFF | USE WELCOMEBACK</div>
                            <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                        </div>
                    </div>
                    <div class="restaurants">
                        <!--  -->
                        
                            <div class="list_of_canteens" style="margin-left: 47px;">
                                <img src="assets/c.jpg" alt="c" class="canteen-img">
                                <h4 class="canteen-heading">Pizza Hut</h4>
                                <h5 class="canteen-sub-heading">Pizzas</h5>
                                <div class="rating_pricing">
                                    <div class="rating"><i class="fa fa-star"></i> 3.2
                                    </div>
                                    <div class="timing">• 38 MINS •</div>
                                    <div class="pricing"> ₹300 FOR TWO</div>
                                </div>
                                <div class="discount">50% OFF | USE TRYNEW</div>
                                <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                            </div>
                            <div class="list_of_canteens">
                                <img src="assets/c2.jpg" alt="c" class="canteen-img">
                                <h4 class="canteen-heading">Patna Platter</h4>
                                <h5 class="canteen-sub-heading">South Indian, Fast Food, Chinese</h5>
                                <div class="rating_pricing">
                                    <div class="rating"><i class="fa fa-star"></i> 3.2
                                    </div>
                                    <div class="timing">• 51 MINS •</div>
                                    <div class="pricing"> ₹600 FOR TWO</div>
                                </div>
                                <div class="discount">40% OFF | USE JUMBO</div>
                                <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                            </div>
                            <div class="list_of_canteens">
                                <img src="assets/c3.jpg" alt="c" class="canteen-img">
                                <h4 class="canteen-heading">Achal Restaurant Cafe</h4>
                                <h5 class="canteen-sub-heading">Chinese, Contimental, North Indian</h5>
                                <div class="rating_pricing">
                                    <div class="rating"><i class="fa fa-star"></i> 3.2
                                    </div>
                                    <div class="timing">• 19 MINS •</div>
                                    <div class="pricing"> ₹200 FOR TWO</div>
                                </div>
                                <div class="discount">70% OFF | USE WELCOMEBACK</div>
                                <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                            </div>
                            <div class="list_of_canteens">
                                <img src="assets/c4.jpg" alt="c" class="canteen-img">
                                <h4 class="canteen-heading">MUTTON DEHATI</h4>
                                <h5 class="canteen-sub-heading">Indian</h5>
                                <div class="rating_pricing">
                                    <div class="rating"><i class="fa fa-star"></i> 3.2
                                    </div>
                                    <div class="timing">• 42 MINS •</div>
                                    <div class="pricing"> ₹78 FOR TWO</div>
                                </div>
                                <div class="discount">70% OFF | USE WELCOMEBACK</div>
                                <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                            </div>
                        </div>
                        <div class="restaurants">
                            <!--  -->
                            
                                <div class="list_of_canteens" style="margin-left: 47px;">
                                    <img src="assets/c.jpg" alt="c" class="canteen-img">
                                    <h4 class="canteen-heading">Pizza Hut</h4>
                                    <h5 class="canteen-sub-heading">Pizzas</h5>
                                    <div class="rating_pricing">
                                        <div class="rating"><i class="fa fa-star"></i> 3.2
                                        </div>
                                        <div class="timing">• 38 MINS •</div>
                                        <div class="pricing"> ₹300 FOR TWO</div>
                                    </div>
                                    <div class="discount">50% OFF | USE TRYNEW</div>
                                    <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                </div>
                                <div class="list_of_canteens">
                                    <img src="assets/c2.jpg" alt="c" class="canteen-img">
                                    <h4 class="canteen-heading">Patna Platter</h4>
                                    <h5 class="canteen-sub-heading">South Indian, Fast Food, Chinese</h5>
                                    <div class="rating_pricing">
                                        <div class="rating"><i class="fa fa-star"></i> 3.2
                                        </div>
                                        <div class="timing">• 51 MINS •</div>
                                        <div class="pricing"> ₹600 FOR TWO</div>
                                    </div>
                                    <div class="discount">40% OFF | USE JUMBO</div>
                                    <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                </div>
                                <div class="list_of_canteens">
                                    <img src="assets/c3.jpg" alt="c" class="canteen-img">
                                    <h4 class="canteen-heading">Achal Restaurant Cafe</h4>
                                    <h5 class="canteen-sub-heading">Chinese, Contimental, North Indian</h5>
                                    <div class="rating_pricing">
                                        <div class="rating"><i class="fa fa-star"></i> 3.2
                                        </div>
                                        <div class="timing">• 19 MINS •</div>
                                        <div class="pricing"> ₹200 FOR TWO</div>
                                    </div>
                                    <div class="discount">70% OFF | USE WELCOMEBACK</div>
                                    <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                </div>
                                <div class="list_of_canteens">
                                    <img src="assets/c4.jpg" alt="c" class="canteen-img">
                                    <h4 class="canteen-heading">MUTTON DEHATI</h4>
                                    <h5 class="canteen-sub-heading">Indian</h5>
                                    <div class="rating_pricing">
                                        <div class="rating"><i class="fa fa-star"></i> 3.2
                                        </div>
                                        <div class="timing">• 42 MINS •</div>
                                        <div class="pricing"> ₹78 FOR TWO</div>
                                    </div>
                                    <div class="discount">70% OFF | USE WELCOMEBACK</div>
                                    <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                </div>
                            </div>
                            <div class="restaurants">
                                <!--  -->
                                
                                    <div class="list_of_canteens" style="margin-left: 47px;">
                                        <img src="assets/c.jpg" alt="c" class="canteen-img">
                                        <h4 class="canteen-heading">Pizza Hut</h4>
                                        <h5 class="canteen-sub-heading">Pizzas</h5>
                                        <div class="rating_pricing">
                                            <div class="rating"><i class="fa fa-star"></i> 3.2
                                            </div>
                                            <div class="timing">• 38 MINS •</div>
                                            <div class="pricing"> ₹300 FOR TWO</div>
                                        </div>
                                        <div class="discount">50% OFF | USE TRYNEW</div>
                                        <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                    </div>
                                    <div class="list_of_canteens">
                                        <img src="assets/c2.jpg" alt="c" class="canteen-img">
                                        <h4 class="canteen-heading">Patna Platter</h4>
                                        <h5 class="canteen-sub-heading">South Indian, Fast Food, Chinese</h5>
                                        <div class="rating_pricing">
                                            <div class="rating"><i class="fa fa-star"></i> 3.2
                                            </div>
                                            <div class="timing">• 51 MINS •</div>
                                            <div class="pricing"> ₹600 FOR TWO</div>
                                        </div>
                                        <div class="discount">40% OFF | USE JUMBO</div>
                                        <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                    </div>
                                    <div class="list_of_canteens">
                                        <img src="assets/c3.jpg" alt="c" class="canteen-img">
                                        <h4 class="canteen-heading">Achal Restaurant Cafe</h4>
                                        <h5 class="canteen-sub-heading">Chinese, Contimental, North Indian</h5>
                                        <div class="rating_pricing">
                                            <div class="rating"><i class="fa fa-star"></i> 3.2
                                            </div>
                                            <div class="timing">• 19 MINS •</div>
                                            <div class="pricing"> ₹200 FOR TWO</div>
                                        </div>
                                        <div class="discount">70% OFF | USE WELCOMEBACK</div>
                                        <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                    </div>
                                    <div class="list_of_canteens">
                                        <img src="assets/c4.jpg" alt="c" class="canteen-img">
                                        <h4 class="canteen-heading">MUTTON DEHATI</h4>
                                        <h5 class="canteen-sub-heading">Indian</h5>
                                        <div class="rating_pricing">
                                            <div class="rating"><i class="fa fa-star"></i> 3.2
                                            </div>
                                            <div class="timing">• 42 MINS •</div>
                                            <div class="pricing"> ₹78 FOR TWO</div>
                                        </div>
                                        <div class="discount">70% OFF | USE WELCOMEBACK</div>
                                        <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                    </div>
                                </div>
                                <div class="restaurants">
                                    <!--  -->
                                    
                                        <div class="list_of_canteens" style="margin-left: 47px;">
                                            <img src="assets/c.jpg" alt="c" class="canteen-img">
                                            <h4 class="canteen-heading">Pizza Hut</h4>
                                            <h5 class="canteen-sub-heading">Pizzas</h5>
                                            <div class="rating_pricing">
                                                <div class="rating"><i class="fa fa-star"></i> 3.2
                                                </div>
                                                <div class="timing">• 38 MINS •</div>
                                                <div class="pricing"> ₹300 FOR TWO</div>
                                            </div>
                                            <div class="discount">50% OFF | USE TRYNEW</div>
                                            <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                        </div>
                                        <div class="list_of_canteens">
                                            <img src="assets/c2.jpg" alt="c" class="canteen-img">
                                            <h4 class="canteen-heading">Patna Platter</h4>
                                            <h5 class="canteen-sub-heading">South Indian, Fast Food, Chinese</h5>
                                            <div class="rating_pricing">
                                                <div class="rating"><i class="fa fa-star"></i> 3.2
                                                </div>
                                                <div class="timing">• 51 MINS •</div>
                                                <div class="pricing"> ₹600 FOR TWO</div>
                                            </div>
                                            <div class="discount">40% OFF | USE JUMBO</div>
                                            <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                        </div>
                                        <div class="list_of_canteens">
                                            <img src="assets/c3.jpg" alt="c" class="canteen-img">
                                            <h4 class="canteen-heading">Achal Restaurant Cafe</h4>
                                            <h5 class="canteen-sub-heading">Chinese, Contimental, North Indian</h5>
                                            <div class="rating_pricing">
                                                <div class="rating"><i class="fa fa-star"></i> 3.2
                                                </div>
                                                <div class="timing">• 19 MINS •</div>
                                                <div class="pricing"> ₹200 FOR TWO</div>
                                            </div>
                                            <div class="discount">70% OFF | USE WELCOMEBACK</div>
                                            <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                        </div>
                                        <div class="list_of_canteens">
                                            <img src="assets/c4.jpg" alt="c" class="canteen-img">
                                            <h4 class="canteen-heading">MUTTON DEHATI</h4>
                                            <h5 class="canteen-sub-heading">Indian</h5>
                                            <div class="rating_pricing">
                                                <div class="rating"><i class="fa fa-star"></i> 3.2
                                                </div>
                                                <div class="timing">• 42 MINS •</div>
                                                <div class="pricing"> ₹78 FOR TWO</div>
                                            </div>
                                            <div class="discount">70% OFF | USE WELCOMEBACK</div>
                                            <div class="order-and-view-btn"><p style="margin-left: 80px; padding-top: 6px;">ORDER NOW <i class="fa fa-arrow-right"></i></p></div>
                                        </div>
                                    </div>
</div>
<div class="footer">
    <li class="footer-nav" style="float: left; margin-left: 55px;">© COPYRIGHT 2021 | ALL RIGHTS RESERVED</li>
    <li class="footer-nav" style="float: right; margin-right: 65px;">TERMS & CONDITIONS</li>
    <li class="footer-nav" style="float: right;">ABOUT US</li>
    <li class="footer-nav" style="float: right;">CONTACT US</li>
    <li class="footer-nav" style="float: right;">ADVERTISE WITH US</li>
    <li class="footer-nav" style="float: right;">PRIVACY POLICY</li>
</div>

</body>
</html>