<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>CU Canteen's - A Food Ordering Assistant of CU</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile-page.css">
</head>

<body>
    <div class="top_nav">
        <div class="logo">
            <h2 class="logo-text"><i class="fa fa-cutlery" aria-hidden="true"></i>
                CU CANTEEN</h2>
        </div>
        <div class="menu">
            <ul class="nav_menu">
                <li class="list"><i class="fa fa-search"></i> Search</li>
                <li class="list"><i class="fa fa-shopping-cart"></i> Cart</li>
                <li class="list"><i class="fa fa-gift"></i> Offers</li>
                <li class="list"><i class="fa fa-life-ring"></i> Help</li>
                <li class="list"><i class="fa fa-user"></i> Arnav Gupta</li>
            </ul>
        </div>
    </div>
<div style="clear: both;"></div>
<div class="user_details">
    <div class="user_details1">
        <div class="user_name">
            <h2 class="user-name-txt">Sameer Singh Sengar</h2>
        </div> 
        <div class="button">
            <p class="btn-text">EDIT PROFILE</p>
        </div>
        </div>
        <div class="email-phone">
            <i class="fa fa-mobile"></i> 8102901497  <i class="fa fa-envelope" style="margin-left: 50px;"></i> smartshivam1919@gmail.com
        </div>
        <div class="box">
            <div class="box-inner1">
                <li class="order" style="background-color: #fff;">
                   <i class="fa fa-shopping-cart" style="margin-right: 6px;"></i> Orders
                </li>
                <li class="order">
                    <i class="fa fa-gift" style="margin-right: 6px;"></i> CU Special
                 </li>
                 <li class="order">
                    <i class="fa fa-heart" style="margin-right: 6px;"></i> Faviourites
                 </li>
                 <li class="order">
                    <i class="fa fa-paypal" style="margin-right: 6px;"></i> Payments
                 </li>
                 <li class="order">
                    <i class="fa fa-map-marker" style="margin-right: 6px;"></i> Addresses
                 </li>
            </div>
            <div class="box-inner2">
                <h2 class="past-orders-txt">Past Orders</h2>
                <div class="border-div">
            <img src="assets/dd.jpg" alt="cake" width="150px" height="100px" style="margin-left: 20px;margin-top:20px;position: absolute;">
            <div class="txt">Royal Sweets and Fast Food <div class="txt-inner"> Delivered on Fri, Mar 20, 2020, 03:44 PM <i class="fa fa-check-circle"></i></div></div>
            <div class="location">Kathalbari, Darbhanga</div>
            <div class="location2">ORDER #67772674656 | Fri, Mar 20, 2020, 03:14 PM</div>
            <div class="location3">VIEW DETAILS</div>
            <div class="order_details">
                <div class="order_content">
                    Butter Pav Bhaji x 1 <div class="inner-order-content">Total Paid:  80
                    </div>
                </div>
                <div class="order_dtl_button">
                    <div class="btn1">REORDER</div>
                    <div class="btn2">HELP</div>
                </div>
            </div>
        </div>
    </div>
</div>

    
</body>



    
</html>